*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    padding: 24px;
}
.header-title {
    width: 145px;
}
.header-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link {
    padding-left: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}
.header-mail {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
    padding-left: 340px;
    padding-right: 50px;
}
.header-tel {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}
.header-link:hover {
color: dodgerblue;
}
.header-tel:hover {
    color: dodgerblue;
}
.header-mail:hover {
    color: dodgerblue;
}
.section-button {
    background-image:linear-gradient(rgba(0, 0, 0, 0.39), rgba(26, 18, 18, 0.452)),
     url("../Photo18/Img (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 0;
    margin-bottom: 94px;
}
.section-titl {
    white-space: pre-wrap;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    padding-bottom: 30px;
    color: #FFFFFF;
    vertical-align: auto;
}
.button {
    width: 216px;
    cursor: pointer;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: dodgerblue;
    border: none;
    border-radius: 3px;
}
.section-table .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.text1 p {
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.7;
    padding-bottom: 10px;
}
.text1:first-child::before {
    content: '';
    display: block;
    background-image: url("../Photo18/symbol-defs.svg#icon-Group-1");
    fill: #2196F3;
    background-repeat: no-repeat;
    background-size: 25%;
    height: 100px;
    width: 100%;
    background-position: 50% 50%;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.text1:nth-child(2)::before {
    content: '';
    display: block;
    background-image: url("../Photo18/symbol-defs.svg#icon-clock-1-1");
    background-repeat: no-repeat;
    background-size: 25%;
    height: 100px;
    width: 100%;
    background-position: 50% 50%;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.text1:nth-child(3)::before {
    content: '';
    display: block;
    background-image: url("../Photo18/diagram-1-1.svg");
    background-repeat: no-repeat;
    background-size: 25%;
    height: 100px;
    width: 100%;
    background-position: 50% 50%;
    background-color: #F5F4FA;
    margin-bottom: 30px;

}
.text1:last-child::before {
    content: '';
    display: block;
    background-image: url("../Photo18/astronaut-1-1.svg");
    background-repeat: no-repeat;
    background-size: 25%;
    height: 100px;
    width: 100%;
    background-position: 50% 50%;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.text1 h1 {
    font-size: 14px;
}
.text1 {
    width: 24%;
    flex-basis: calc((100% - 60px) /3 );
}
.div-img {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100% - 60px) /2 );
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 50px;
    padding-top: 77px;
    text-align: center;
}
.section-employees {
    background: #F5F4FA;
}
.section-img {
    margin-bottom: 111px;
}
.section-gallery .container {
    gap: 30px;
}
.section-employees .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
    text-align: center;
    gap: 30px;
}
.who-we-are-name {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}
.card {
    margin: 10px;
    align-items: center;
    flex-basis: calc((100% - 60px) /3 );
}
.who-we-are-profesion {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    padding-bottom: 30px;
}
.who-we-are-img {
    width: 270px;
    padding-bottom: 30px;
}
.who-we-are-item {
    height: 428px;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 4px 3px 0 #00000033;
}
.footer {
    height: 252px;
    background: #2F303A;
}
.svg-wrap {
    display: flex;
    justify-content: space-around;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.icon {
    fill: #AFB1B8;
}
.icon:hover {
    background-color: royalblue;
    fill: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
}
.clients {
   height: 400px;
}

.clients-img-wrap {
    display: flex;
    justify-content: space-between;
    flex-basis: calc((100% - 60px) /3 );
    padding-bottom: 94px;
    gap: 30px;
}

.clients-title {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
}
.clients-icon {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
    border-radius: 5px;
}
.clients-icon:hover {
    fill: #2196F3;
    border-color: #2196F3;
    cursor: pointer;
}
.footer img {
    padding-top: 60px;
    padding-bottom: 20px;
    width: 145px;
}
address {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
.footer .icon {
    padding: 30px;
}
.footer-mail {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
.footer-tel {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
.footer-mail:hover {
    color: dodgerblue;
}
.footer-tel:hover {
    color: dodgerblue;
}

